.heading {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.heading > div {
  overflow: hidden;
}
.heading > div > p {
  margin: 0;
}
.title1 {
  width: 100%;
  font-family: Valencia;
  color: #222;
  font-size: 8rem;
  text-align: center;
  padding-right: 30px;
}
.title2 {
  width: 100%;
  font-family: AvenirRoman;
  color: #222;
  font-size: 3rem;
  text-align: center;
}
.subheading {
  -webkit-animation-delay: 0;
  animation-delay: 0;
}
.subheading:nth-child(2) > p {
  -webkit-animation-delay: 0.05s;
  animation-delay: 0.05s;
}
.subheading {
  -webkit-animation-delay: 0;
  animation-delay: 0;
}
.subheading:nth-child(3) > p {
  -webkit-animation-delay: 0.075s;
  animation-delay: 0.075s;
}
.slideup {
  -webkit-animation: slideup 1.5s cubic-bezier(0.65, 0, 0.35, 1) both;
  animation: slideup 1.5s cubic-bezier(0.65, 0, 0.35, 1) both;
}
.slideup2 {
  -webkit-animation: slideup 2s cubic-bezier(0.65, 0, 0.35, 1) both;
  animation: slideup 2s cubic-bezier(0.65, 0, 0.35, 1) both;
}

@-webkit-keyframes slideup {
  0% {
    transform: translateY(300px);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes slideup {
  0% {
    transform: translateY(300px);
  }
  100% {
    transform: translateY(0);
  }
}
