.skillsContainerMain {
  width: 100%;
  height: 100vh;
  position: relative;
  overflow: hidden;
  padding-bottom: 20vh;
}
.skillsContainer {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 0 10vw;
}
.skills {
  padding: 5vw;
  display: flex;
  flex-direction: column;
}
.skillsText {
  font-size: 38px;
  font-weight: 600;
  align-items: center;
  font-family: AvenirLight;
  text-align: left;
  display: inline-block;
  white-space: nowrap;
}
.skillsspace {
  height: 5vh;
}
.aboutText3 {
  position: absolute;
  text-transform: uppercase;
  font-size: 200px;
  font-family: AvenirHeavy;
  color: rgb(223, 220, 220);
  top: 65%;
  right: 20%;
  z-index: 1;
}
