.aboutContainer{
    height: 50vh;
    width: 100%;
    position: relative;
    overflow: hidden;
    margin-bottom: 20vh;
  }
  .aboutText1{
    position: absolute;
    text-transform: uppercase;
    font-size: 200px;
    font-family: AvenirHeavy;
    color: rgb(223, 220, 220);
    top: 5%;
    left: 0%;
    z-index: 1;
    display: inline-block;
    white-space: nowrap;
  }
  .aboutText2{
    position: absolute;
    top: 25%;
    left: 0%;
    font-size:32px;
    font-weight:500;
    align-items: center;
    font-family: AvenirLight;
    text-align: left;
    margin-left: 30%;
    margin-right: 5%;
    z-index: 2;
  }
 