@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@700&display=swap");

.container {
  background: #d4c9c9;
  padding: 0 2rem;
}

.main {
  flex: 1;
}

/* Section 1 */

.heading {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.heading > div {
  overflow: hidden;
}
.heading > div > p {
  margin: 0;
}
.title1 {
  font-family: Valencia;
  color: black;
  padding:0 50px;
  font-size: 8rem;
}
.title2 {
  font-family: AvenirRoman;
  color: black;
  /* padding:0 50px; */
  font-size: 4rem;
}
.title3 {
  font-family: AvenirHeavy;
  color: black;
  padding:0 50px;
  font-size: 8rem;
  text-transform: uppercase;
}
.subheading {
  -webkit-animation-delay: 0;
          animation-delay: 0;
}
.subheading:nth-child(2) > p {
  -webkit-animation-delay: 0.05s;
          animation-delay: 0.05s;
}
.subheading {
  -webkit-animation-delay: 0;
          animation-delay: 0;
}
.subheading:nth-child(3) > p {
  -webkit-animation-delay: 0.075s;
          animation-delay: 0.075s;
}

.slideup {
  -webkit-animation: slideup 1.5s cubic-bezier(0.65, 0, 0.35, 1) both;
          animation: slideup 1.5s cubic-bezier(0.65, 0, 0.35, 1) both;
}
.slideup2 {
  -webkit-animation: slideup 2.0s cubic-bezier(0.65, 0, 0.35, 1) both;
          animation: slideup 2.0s cubic-bezier(0.65, 0, 0.35, 1) both;
}

@-webkit-keyframes slideup {
  0% {
    transform: translateY(300px);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes slideup {
  0% {
    transform: translateY(300px);
  }
  100% {
    transform: translateY(0);
  }
}

/* Section 2 */

.description{
  min-height: 20vh;
}
/* window Extra small */
@media screen and (max-width: 576px) {
  .title1 {
    padding:0 50px;
    font-size: 3.5rem;
  }
  .title2 {
    padding:0 50px;
    font-size: 1.2rem;
  }
  .title3 {
    padding:0 50px;
    font-size: 3.5rem;
  }
}
/* window Small */
@media screen and (min-width: 576px) {
  .title1 {
    padding:0 50px;
    font-size: 4rem;
  }
  .title2 {
    padding:0 50px;
    font-size: 2rem;
  }
  .title3 {
    padding:0 50px;
    font-size: 4rem;
  }
}
/* window Medium */
@media screen and (min-width: 768px) {
  .title1 {
    padding:0 50px;
    font-size: 5rem;
  }
  .title2 {
    padding:0 50px;
    font-size: 2rem;
  }
  .title3 {
    padding:0 50px;
    font-size: 5rem;
  }
}
/* window Large */
@media screen and (min-width: 992px) {
  .title1 {
    padding:0 50px;
    font-size: 6rem;
  }
  .title2 {
    padding:0 50px;
    font-size: 3rem;
  }
  .title3 {
    padding:0 50px;
    font-size: 6rem;
  }
}
/* window Extra large */
@media screen and (min-width: 1200px) {
  .title1 {
    padding:0 50px;
    font-size: 6rem;
  }
  .title2 {
    padding:0 50px;
    font-size: 3rem;
  }
  .title3 {
    padding:0 50px;
    font-size: 6rem;
  }
}
/* window Extra extra large */
@media screen and (min-width: 1400px) {
  .title1 {
    padding:0 50px;
    font-size: 8rem;
  }
  .title2 {
    padding:0 50px;
    font-size: 4rem;
  }
  .title3 {
    padding:0 50px;
    font-size: 8rem;
  }
}


