@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@700&display=swap");

.container {
  background: #d4c9c9;
}

.main {
  flex: 1;
}

/* Section 1 */

.heading {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.heading > div {
  overflow: hidden;
}
.heading > div > p {
  margin: 0;
}
.title1 {
  font-family: Valencia;
  color: #222;
  padding:0 50px;
  font-size: 8rem;
}
.title2 {
  font-family: AvenirRoman;
  color: #222;
  /* padding:0 50px; */
  font-size: 4rem;
}
.title3 {
  font-family: AvenirHeavy;
  color: #222;
  padding:0 50px;
  font-size: 8rem;
  text-transform: uppercase;
}
.subheading {
  -webkit-animation-delay: 0;
          animation-delay: 0;
}
.subheading:nth-child(2) > p {
  -webkit-animation-delay: 0.05s;
          animation-delay: 0.05s;
}
.subheading {
  -webkit-animation-delay: 0;
          animation-delay: 0;
}
.subheading:nth-child(3) > p {
  -webkit-animation-delay: 0.075s;
          animation-delay: 0.075s;
}

.slideup {
  -webkit-animation: slideup 1.5s cubic-bezier(0.65, 0, 0.35, 1) both;
          animation: slideup 1.5s cubic-bezier(0.65, 0, 0.35, 1) both;
}
.slideup2 {
  -webkit-animation: slideup 2.0s cubic-bezier(0.65, 0, 0.35, 1) both;
          animation: slideup 2.0s cubic-bezier(0.65, 0, 0.35, 1) both;
}

@-webkit-keyframes slideup {
  0% {
    transform: translateY(300px);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes slideup {
  0% {
    transform: translateY(300px);
  }
  100% {
    transform: translateY(0);
  }
}

/* Section 2 */

.aboutContainer{
  height: 50vh;
  width: 100%;
  position: relative;
  overflow: hidden;
  margin-bottom: 20vh;
}
.aboutText1{
  position: absolute;
  text-transform: uppercase;
  font-size: 200px;
  font-family: AvenirHeavy;
  color: rgb(223, 220, 220);
  top: 5%;
  left: 0%;
  z-index: 1;
}
.aboutText3{
  position: absolute;
  text-transform: uppercase;
  font-size: 200px;
  font-family: AvenirHeavy;
  color: rgb(223, 220, 220);
  top: 60%;
  right: 0%;
  z-index: 1;
}
.aboutText2{
  position: absolute;
  top: 25%;
  left: 0%;
  font-size:38px;
  font-weight:300;
  align-items: center;
  font-family: AvenirLight;
  text-align: left;
  margin-left: 30%;
  margin-right: 5%;
  z-index: 2;
}
/* App1 */
.app1Contaniner{
  display: flex;
  flex-flow: row nowrap;
  height: auto;
  width: 100%;
}
.sectionLeft{
  /* position: -webkit-sticky; */
  position: sticky;
  top: 0px;
  left: 0px;
  display: flex;
  flex-flow: column nowrap;
  flex: 1;
  height: 100vh;
  width: 50%;
  margin-right: 50%;
  /* position: fixed;
  top: 1375px;
  left: 0px;
  display: flex;
  flex-flow: column nowrap;
  height: 100vh;
  width: 50%;
  flex: 1; */
}
.sectionRight {
  position: absolute;
  top: 0;
  flex: 1;
  display: flex;
  flex-flow: column nowrap;
  margin-left: 50%;
  width: 50%;
  height: auto;
}
.app1Section1{
  text-transform: uppercase;
  /* position: absolute;
  top: 0%;
  left: 0%; */
  padding: 5%;
  font-size: 30px;
  font-family: AvenirHeavy;
}
.app1Section2{
  /* position: absolute; */
  display: flex;
  flex-flow: column nowrap;
  -webkit-box-align: center;
  align-items: center;
  padding-top: 5%;
  height: 100%;
}
.app2SectionSub{
  display: flex;
  flex-flow: column nowrap;
  width: 100%;
  padding: 5% 5% 5% 10%;
}
.app1name{
  text-transform: capitalize;
  font-size: 80px;
  font-family: AvenirHeavy;
  margin-bottom: 50px;
}
.app1position{
  font-size: 30px;
  font-family: AvenirLight;
  font-weight: 600;
  margin-bottom: 20px;
}
.app1position2{
  font-size: 20px;
  font-family: AvenirLight;
  font-weight: 600;
  margin-bottom: 20px;
}
.app1Description{
  font-size: 30px;
  font-family: AvenirLight;
}
.app1Section3{
  text-transform: uppercase;
  /* position: absolute;
  bottom: 0%;
  left: 0%; */
  padding: 5%;
  font-size: 30px;
  font-family: AvenirHeavy;
}

.imageContainer{
  margin-top: 100vh;
  height: 120vh;
  position: relative;
}
.imageContainer2{
  margin-top: 180vh;
  height: 220vh;
  position: relative;
}
.imgStyle1{
  bottom: -430vh;
  right: 5vw;
  position: absolute;
  height: 80vh;
  /* filter: blur(1.2px); */
  transform: scale(0.6) !important;
}
.imgStyle2{
  bottom: -385vh;
  left: 2vw;
  position: absolute;
  height: 80vh;
  /* filter: blur(0.8px); */
  z-index: 2;
}
.imgStyle3{
  position: absolute;
  bottom: -375vh;
  right: 2vw;
  height: 80vh;
  /* filter: blur(0.6px); */
  transform: scale(0.9) !important;
}
.imgStyle4{
  position: absolute;
  bottom: -460vh;
  left: 2vw;
  height: 80vh;
  transform: scale(0.7) !important;
}
.imgStyle5{
  position: absolute;
  bottom: -430vh;
  left: 11vw;
  height: 80vh;
  transform: scale(0.55) !important;
  z-index: -1;
}
/* project 2 */
.img2Style1{
  bottom: -570vh;
  right: 5vw;
  position: absolute;
  height: 80vh;
  /* filter: blur(1.2px); */
  transform: scale(0.6) !important;
}
.img2Style2{
  bottom: -525vh;
  left: 2vw;
  position: absolute;
  height: 80vh;
  /* filter: blur(0.8px); */
  z-index: 2;
}
.img2Style3{
  position: absolute;
  bottom: -515vh;
  right: 2vw;
  height: 80vh;
  /* filter: blur(0.6px); */
  transform: scale(0.9) !important;
}
.img2Style4{
  position: absolute;
  bottom: -600vh;
  left: 2vw;
  height: 80vh;
  transform: scale(0.7) !important;
}
.img2Style5{
  position: absolute;
  bottom: -570vh;
  left: 11vw;
  height: 80vh;
  transform: scale(0.55) !important;
  z-index: -1;
}
/* Contacts */
.contacts{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 0 20%;
}
.contactIcon{
  width: 80px !important;
  height: 80px !important;
  cursor: pointer;
  color: #fff !important;
}
.contactContact{
  position: absolute;
  text-transform: uppercase;
  font-size: 200px;
  font-family: AvenirHeavy;
  color: rgb(223, 220, 220);
  top: 10%;
  left: 10%;
  z-index: 1;
}
/* cube */
.cube{
  /* position: sticky !important;
  top: 0 !important; */
  background-color: #222;
  width: 100px;
  height: 100px;
  margin-top: 20vh;
}
/* Skills */
.skillsContainerMain{
  height: 70vh;
  width: 100%;
  position: relative;
  overflow: hidden;
  margin-bottom: 20vh;
}
.skillsContainer{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 0 10vw;
}
.skills{
  padding: 5vw;
  display: flex;
  flex-direction: column;
}
.skillsText{
  font-size:38px;
  font-weight:600;
  align-items: center;
  font-family: AvenirLight;
  text-align: left;
}
.skillsspace{
  height:5vh;
}
/* window phone */
@media screen and (max-width: 500px) {
  .title1 {
    padding:0 10px;
    font-size: 2.5rem !important;
  }
  .title2 {
    padding:0 50px;
    margin-left: 10px;
    font-size: 1.2rem;
  }
  .title3 {
    padding:0 50px;
    font-size: 3.5rem;
  }
}
/* window Extra small */
@media screen and (max-width: 576px) {
  .title1 {
    padding:0 50px;
    font-size: 3.5rem;
  }
  .title2 {
    padding:0 50px;
    font-size: 1.2rem;
  }
  .title3 {
    padding:0 50px;
    font-size: 3.5rem;
  }
}
/* window Small */
@media screen and (min-width: 576px) {
  .title1 {
    padding:0 50px;
    font-size: 4rem;
  }
  .title2 {
    padding:0 50px;
    font-size: 2rem;
  }
  .title3 {
    padding:0 50px;
    font-size: 4rem;
  }
}
/* window Medium */
@media screen and (min-width: 768px) {
  .title1 {
    padding:0 50px;
    font-size: 5rem;
  }
  .title2 {
    padding:0 50px;
    font-size: 2rem;
  }
  .title3 {
    padding:0 50px;
    font-size: 5rem;
  }
}
/* window Large */
@media screen and (min-width: 992px) {
  .title1 {
    padding:0 50px;
    font-size: 6rem;
  }
  .title2 {
    padding:0 50px;
    font-size: 3rem;
  }
  .title3 {
    padding:0 50px;
    font-size: 6rem;
  }
}
/* window Extra large */
@media screen and (min-width: 1200px) {
  .title1 {
    padding:0 50px;
    font-size: 6rem;
  }
  .title2 {
    padding:0 50px;
    font-size: 3rem;
  }
  .title3 {
    padding:0 50px;
    font-size: 6rem;
  }
}
/* window Extra extra large */
@media screen and (min-width: 1400px) {
  .title1 {
    padding:0 50px;
    font-size: 150px;
  }
  .title2 {
    padding:0 50px;
    font-size: 50px;
  }
  .title3 {
    padding:0 50px;
    font-size: 8rem;
  }
}


